#profileWrap {
    margin-left: 80px;
}

#profile-pic-sm {
    width: 180px;
    height: 180px;
    margin-top: 100px;
    border-radius: 50%;

}

#userName {
    font-size: 20px;
}

#infoWrap {
    width: 180px;
    height:380px;
    background-color: #e3e6ea;
    position: absolute;
    text-align: center;
    margin-top: -130px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    z-index: -1;
    padding-top:200px;
}

#tab {
    background-color: #e3e6ea;
    width: 180px;
    height: 80px;
    margin-bottom: 50px;
}


#tabsIcon {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 80px;
}

.optionWrapper {
   width:800px;
   height:360px;
   z-index: -2;
   margin-top:90px;
   position: absolute;
}

.info {
  background-color: #8da3c6;
}

#labels {
  padding-left: 200px;
  padding-top: 10px;
  color: white;
  font-size: 20px;
}

#nameValue {
  font-size: 30px;
  padding-left:198px;
  margin-top: 0px;
}

#languageInfo {
   padding-left:198px;
   font-size: 18px;
   margin-top: -20px;
   margin-bottom: 20px;
}

#iconsProps {
  width: 50px;
  height: 50px;
  padding-top:20px;
}

#descriptionValue {
   padding-left:201px;
}

#hobbyProps {
  background-color: #7a1717;
  width: 200px;
  height: 40px;
  margin-left:200px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  position: relative;;
  margin-top: 50px;
  word-wrap: break-word;
  border-radius: 8%;
}
